
.icon-login:before { content: '\e800'; } /* '' */
.icon-logout:before { content: '\e801'; } /* '' */
.icon-wrench:before { content: '\e802'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-wpforms:before { content: '\f298'; } /* '' */