body{
background-color: hsl(0, 0%, 20%);
/*background-image: url(img/connected.png);/* Background pattern from Transparent Textures*/
font-family: 'Noto Serif', serif;}

#container{
width: 1000px;
background-color: white;
margin-left: auto;
margin-right: auto;}

#logo{
font-size:20px;
background-color: hsl(0, 0%, 10%);
background-image: url(img/connected.png);
color: white;
text-align:center;
padding: 5px;}

#logo>h1>.skewEl{
font-size:45px;
transform: skewY(15deg);
//transform: rotate(5deg);
-ms-transform: skewY(15deg);
//-ms-transform: rotate(5deg);
-webkit-transform: skewY(15deg);
//-webkit-transform: rotate(5deg);
color: red;
display:inline-block;}

#navigation{
background-color: #323232;
background-image: url(img/white-brushed.png)/* Background pattern from Toptal Subtle Patterns */;
width: 185px;
padding: 10px;
min-height:620px;
float:left;}

.menu {
width: 160px;
height: 20px;
padding: 10px 5px;
margin: 8px;
text-align: center;
border-radius: 3px;
background-color: hsl(230,25%,80%);
color: black;}

.menu:hover{
color: rgb(200,200,200);
background-color: rgb(100,100,100);}		

#content{
font-size:16px;
text-align: center;
width: 590px;
padding: 5px;
padding-left: 20px;
float:left;}

#content > form > label > p{
padding: 0px;
margin: 0px;}

#content>h1{
font-size:26px;
}

#ads{
background-color: #323232;
background-image: url(img/white-brushed.png);
width: 160px;
padding: 10px;
min-height:620px;
float:left;}

#footer{
color: rgb(180,180,180);
background-color: hsl(0, 0%, 10%);
font-style:italic;
clear:both;}

input[type=text],
input[type=password]{
width: 400px;
box-sizing: border-box;
text-align:center;
font-family: 'Noto Serif', serif;
border-radius: 1px;
border: solid 2px black;
margin-bottom: 5px;
padding: 5px;
outline: none;}

input[type=text]:focus,
input[type=password]:focus{
border: solid 3px red;}		

input[type=submit]{
width: 300px;
padding: 15px 10px;
font-family: 'Noto Serif', serif;
letter-spacing: 3px;
background-color: rgb(230,10,10);
font-size:20px;
color: white;
cursor: pointer;
border-radius: 5px;
border: solid 2px black;
margin-top: 20px;
box-sizing: border-box;
outline:none}	

input[type=submit]:hover,
input[type=submit]:focus
{background-color: rgb(255,0,0)}

a{
	display:block;
	cursor: pointer;
	width: 100%;
	height: 30px;
	color: black;
	text-decoration: none;}

a:visited{
	display:block;
	cursor: pointer;
	width: 100%;
	height: 30px;
	color: black;
	text-decoration: none;}

a:hover{
	display:block;
	width: 100%;
	height: 30px;
	color: black;
	text-decoration: none;}
	



	


