body{
background-color: hsl(0, 0%, 20%);
/*background-image: url(img/connected.png);/* Background pattern from Transparent Textures*/
font-family: 'Noto Serif', serif;}

#container{
width: 1000px;
background-color: white;
margin-left: auto;
margin-right: auto;}

#logo{
font-size:20px;
height: 110px;
background-color: hsl(0, 0%, 10%);
background-image: url(img/connected.png);
color: white;
text-align:center;
padding: 5px;}

#logo>h1>.skewEl{
font-size:45px;
transform: skewY(15deg);
//transform: rotate(5deg);
-ms-transform: skewY(15deg);
//-ms-transform: rotate(5deg);
-webkit-transform: skewY(15deg);
//-webkit-transform: rotate(5deg);
color: red;
display:inline-block;}

#navigation{
background-color: #323232;
background-image: url(img/white-brushed.png)/* Background pattern from Toptal Subtle Patterns */;
width: 185px;
padding: 10px;
min-height:620px;
float:left;}

.menu {
width: 160px;
height: 40px;
padding: 0px 5px;
margin: 8px;
text-align: center;
border-radius: 3px;
background-color: hsl(230,25%,80%);
color: black;}

.darkBlue{
background-color: hsl(235 ,60%,80%)}

.menu:hover{
color: rgb(200,200,200);
background-color: rgb(100,100,100);}		

#content{
font-size:16px;
text-align: center;
width: 590px;
padding: 5px;
padding-left: 20px;
float:left;}

#content > form > label > p{
padding: 0px;
margin: 0px;}

#content>h1{
font-size:26px;
}

#ads{
background-color: #323232;
background-image: url(img/white-brushed.png);
width: 160px;
padding: 10px;
min-height:620px;
float:left;}

#footer{
color: rgb(180,180,180);
background-color: hsl(0, 0%, 10%);
font-style:italic;
clear:both;}

select{
  text-indent: 42%;
}

option{
  text-indent: 42%;
}

.custom-select,
input[type=text],
input[type=password],
input[type=number],
input[type=date],
textarea 
{
width: 400px;
box-sizing: border-box;
text-align:center;
font-family: 'Noto Serif', serif;
border-radius: 1px;
border: solid 2px black;
margin-bottom: 5px;
padding: 5px;
outline: none;}

.custom-select > option{
direction: ltr;}

input[type=text]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=number]:focus,
.custom-select:focus,
textarea:focus
{
border: solid 3px red;}		

input[type=submit]{
width: 300px;
padding: 15px 10px;
font-family: 'Noto Serif', serif;
letter-spacing: 3px;
background-color: rgb(230,10,10);
font-size:20px;
color: white;
cursor: pointer;
border-radius: 5px;
border: solid 2px black;
margin-top: 20px;
box-sizing: border-box;
outline:none}	


input[type=submit]:hover,
input[type=submit]:focus
{background-color: rgb(255,0,0)}

.mainMenu{
width: 300px;
height: 60px;
padding: 0px 5px;
letter-spacing: 3px;
background-color: rgb(230,10,10);
font-size:20px;
cursor: pointer;
border-radius: 5px;
border: solid 2px black;
margin-top: 30px;
margin-left: 130px;}

.mainMenu:hover,
.mainMenu:focus{
background-color: rgb(255,0,0)}

a{
display:block;
color: black;
text-decoration: none;}

.menu>a{
width: 100%;
height: 20px;
padding-top: 10px;
padding-bottom: 10px;}

.mainMenu>a{
width: 100%;
height: 20px;
padding-top: 20px;
padding-bottom: 20px;
color: white;}

.mainMenu>a:visited{
color: white;
}
	
.mainMenu>a:hover,
.mainMenu>a:focus{
outline:none;
background-color: rgb(255,0,0);
color: white;
cursor: pointer;
}

a:visited{
color: black;
}

a:hover,
a:focus{
color: rgb(70,70,70);
cursor: pointer;
outline:none;
}

input.minForm{
width: 100px;
}

input.midForm{
width: 228px;
}
	
.minMargin{
margin-top: 25px;}

.minMargin:first-child{
margin-top: 40px;}

.maxMargin{
margin-top: 540px;}

#expenses {
 border-collapse: collapse;
 width: 90%;
 margin-left:5%}

#expenses td, #expenses th {
 border: 1px solid #ddd;
 padding: 8px;
}

#expenses td:first-child, #expenses th:first-child {
 width: 60%;
}

#sum >td{
color:#333333;
background-color: #d8d8d8;
}
#sum >td:first-child{
border-right: 2px solid #dbdbdb;
}

#expenses tr:nth-child(even){
background-color: #f2f2f2;}

#expenses tr:hover{
background-color: #ddd;}

#expenses th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
	background-color: #ff6666;
  color: white;
}

.long{
height: 1500px;
}

#piechart{
margin-top: 20px;
margin-left: 5%;
width: 90%;
margin-right: 5%;
height: 515px;
}
+-






	


